* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  margin-right: 20px;
}

form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar */
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

input[id="nome"],
input[id="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition:
    border-color 0,
    3s ease;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

button[type="submit"] {
  padding: 12px;
  width: 100%;
  background-color: #6c63ff;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #503ed6;
}

button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

div[id="erro"] {
  margin-left: 20px;
}
@media (max-width: 480px) {
  form {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  button[type="submit"] {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.9rem;
  }
}
